/* Disabled as they overwrite mantine stuff */
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@import "@mantine/core/styles.css";
@import "@mantine/dates/styles.css";

/* Fix border-styles with disabled @tailwind base 
See: https://github.com/tailwindlabs/tailwindcss/issues/6979#issuecomment-1008565109 */
*, ::before, ::after {
    border-width: 0;
    border-style: solid;
    border-color: currentColor /* or gray-DEFAULT / gray-400 */;
  }

body {
    @apply bg-black text-slate-100;
    overscroll-behavior: none;
}

@font-face {
  font-family: "Oleo Script";
  src: local("Oleo Script"), url("../../public/OleoScript-Regular.ttf") format('truetype');
}